<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:trans="http://www.thymeleaf.trans">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Spring MVC</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{~/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link th:href="@{~/css/clean-blog.min.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{~/vendor/font-awesome/css/font-awesome.min.css}" th:attr="rel='stylesheet',type='text/css'"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic}" th:attr="rel='stylesheet',type='text/css'"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800}" th:attr="rel='stylesheet',type='text/css'"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav th:attr="class='navbar navbar-default navbar-custom navbar-fixed-top'">
        <div th:attr="class='container-fluid'">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div th:attr="class='navbar-header page-scroll'">
                <button type="button" th:attr="class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1'">
                    <span th:attr="class='sr-only'">Toggle navigation</span>
                    Menu <i th:attr="class='fa fa-bars'"></i>
                </button>
                <a th:attr="class='navbar-brand'" th:href="@{/}">Spring MVC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div th:attr="class='collapse navbar-collapse', id='bs-example-navbar-collapse-1'">
                <ul th:attr="class='nav navbar-nav navbar-right'">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li>
                        <a th:href="@{/post}">Post</a>
                    </li>
                    <li>
                        <a th:href="@{/}">List</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header th:attr="class='intro-header'" th:style="'background-image: url(' + @{img/home-bg.jpg} + ')'">
        <div th:attr="class='container'">
            <div th:attr="class='row'">
                <div th:attr="class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'">
                    <div th:attr="class='site-heading'">
                        <h1>Spring MVC</h1>
                        <hr th:attr="class='small'"/>
                        <span th:attr="class='subheading'">With Thymeleaf render</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div th:attr="class='container'">
        <div th:attr="class='row'">
            <div th:attr="class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'">
                <div th:attr="class='post-preview'">
                    <a th:href="@{/post}">
                        <h2 th:attr="class='post-title'">
                            View a article page example
                        </h2>
                        <h3 th:attr="class='post-subtitle'">
                            Click link above
                        </h3>
                    </a>
                    <p th:attr="class='post-meta'">Posted by <a th:href="@{#}">LamTH2</a> on March 22, 2017</p>
                </div>
                <hr/>
                <div th:attr="class='post-preview'">
                    <a th:href="@{/login}">
                        <h2 th:attr="class='post-title'">
                            View login page example
                        </h2>
                        <h3 th:attr="class='post-subtitle'">
                            Click link above
                        </h3>
                    </a>
                    <p th:attr="class='post-meta'">Posted by <a th:href="@{#}">LamTH2</a> on March 22, 2017</p>
                </div>
                <hr/>
                <div th:attr="class='post-preview'">
                    <a th:href="@{/post}">
                        <h2 th:attr="class='post-title'">
                            View list page example
                        </h2>
                        <h3 th:attr="class='post-subtitle'">
                            Click link above
                        </h3>
                    </a>
                    <p th:attr="class='post-meta'">Posted by <a th:href="@{#}">LamTH2</a> on March 22, 2017</p>
                    <p trans:trans="1"></p>
                </div>
                <hr/>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a th:href="@{#}">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Footer -->
    <footer>
        <div th:attr="class='container'">
            <div th:attr="class='row'">
                <div th:attr="class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'">
                    <ul th:attr="class='list-inline text-center'">
                        <li>
                            <a th:href="@{#}">
                                <span th:attr="class='fa-stack fa-lg'">
                                    <i th:attr="class='fa fa-circle fa-stack-2x'"></i>
                                    <i th:attr="class='fa fa-facebook fa-stack-1x fa-inverse'"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}">
                                <span th:attr="class='fa-stack fa-lg'">
                                    <i th:attr="class='fa fa-circle fa-stack-2x'"></i>
                                    <i th:attr="class='fa fa-twitter fa-stack-1x fa-inverse'"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}">
                                <span th:attr="class='fa-stack fa-lg'">
                                    <i th:attr="class='fa fa-circle fa-stack-2x'"></i>
                                    <i th:attr="class='fa fa-github fa-stack-1x fa-inverse'"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p th:attr="class='copyright text-muted'">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Contact Form JavaScript -->
    <script th:src="@{js/jqBootstrapValidation.js}"></script>
    <script th:src="@{js/contact_me.js}"></script>

    <!-- Theme JavaScript -->
    <script th:src="@{js/clean-blog.min.js}"></script>

</body>

</html>
